{% extends "base.html" %}

{% block lab %}Железнодорожный билет{% endblock %}

{% block main %}
<h1>Оформление билета</h1>
<form action="/lab3/ticket">
    <div>
        <label>ФИО пассажира:</label>
        <input type="text" name="fio" value="{{ fio or '' }}">
        <span class="error">{{ errors.fio if errors }}</span>
    </div>
    
    <div>
        <label>Полка:</label>
        <select name="shelf">
            <option value="lower">Нижняя</option>
            <option value="upper">Верхняя</option>
            <option value="upper-side">Верхняя боковая</option>
            <option value="lower-side">Нижняя боковая</option>
        </select>
    </div>
    
    <div>
        <label><input type="checkbox" name="linen"> С бельём</label>
    </div>
    
    <div>
        <label><input type="checkbox" name="baggage"> С багажом</label>
    </div>
    
    <div>
        <label>Возраст:</label>
        <input type="number" name="age" value="{{ age or '' }}">
    </div>
    
    <div>
        <label>Пункт выезда:</label>
        <input type="text" name="departure" value="{{ departure or '' }}">
    </div>
    
    <div>
        <label>Пункт назначения:</label>
        <input type="text" name="destination" value="{{ destination or '' }}">
    </div>
    
    <div>
        <label>Дата поездки:</label>
        <input type="date" name="date" value="{{ date or '' }}">
    </div>
    
    <div>
        <label><input type="checkbox" name="insurance"> Страховка</label>
    </div>
    
    <button type="submit">Оформить билет</button>
</form>
{% endblock %}