<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лелюх Роман. Лабораторная работа 2</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}.css">
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 2
    </header>

    <main>
        5 + 2 = {{5 + 2}}
        11 x 28 = {{11 * 28}}
        8452 - 793 {{8452 / 793}}
        <p>45<sup>8</sup> {{45**8}}
    </main>

    <footer>
        &copy; {{name}}, фби-{{group}}, {{course}}, курс 2025
    </footer>
</body>
</html>